* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --main-white: white;
  --light-blue-100: #e0eefa;
  --blue-20: #80a7e0;
  --dark-blue-100: #000a8c;
  --light-grey-100: #f2f2f2;
  --dark-grey-100: #434343;
  --dark-grey-20: #dadada;
  --black-100: #000000;

  /* farver til text */
  --primary-btn-text-color: white;
  --secondary-btn-text-color: #000a8c;

  /* font størrelser - mobil */
  --h1-mobile: 1.25rem;
  --h2-mobile: 1.25rem;
  --h3-mobile: 0.875rem;
  --h4-mobile: 0.75rem;
  --p-mobile: 1rem;
  --p-small-mobile: 0.75rem;

  /* font størrelser - desktop */
  --h1-desktop: 2.25rem;
  --h2-desktop: 1.5rem;
  --h3-desktop: 1rem;
  --h4-desktop: 0.875rem;
  --p-big-desktop: 1.25rem;
  --p-desktop: 0.75rem;
  --p-mini: 0.5rem;
}

body {
  font-family: Plus Jakarta Sans;
}

main {
  max-width: 980px;
  margin-inline: auto;
}

h1 {
  font-size: var(--h1-mobile);
  font-weight: 100;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--h2-mobile);
  font-weight: 300;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

h3 {
  font-size: var(--h3-mobile);
  font-weight: 200;
}

h4 {
  font-size: var(--h4-mobile);
}

p {
  font-size: var(--p-mobile);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  height: auto;
}
button img {
  width: 25px;
  padding-right: 8px;
}

button a {
  text-decoration: none;
  color: var(--main-white);
}
#secondary-color {
  color: var(--dark-blue-100);
}

/* opstilling af annoncer i grid */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
  justify-items: center;
  gap: 2rem;
  margin-inline: 0.5rem;
  max-width: 980px;
  margin-bottom: 4rem;
}

@media (min-width: 868px) {
  h1 {
    font-size: var(--h1-desktop);
  }

  h2 {
    font-size: var(--h2-desktop);
  }

  h3 {
    font-size: var(--h3-desktop);
  }

  h4 {
    font-size: var(--h4-desktop);
  }

  p {
    font-size: var(--p-desktop);
  }
}
