---
import "../styles/style.css";
import AdPreview from "../components/AdPreview.astro";
import UploadImage from "../components/UploadImage.astro";
import Button from "../components/Button.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <main title="Opret annonce">
      <div class="scroll-indicator">
        <a href="/"><img src="/svg/dba-logo.svg" alt="dba logo" /></a>
        <div class="step" id="step1">
          <div class="dot"></div>
          <span>Trin 1</span>
        </div>
        <div class="step" id="step2">
          <div class="dot"></div>
          <span>Trin 2</span>
        </div>
        <div class="step" id="step3">
          <div class="dot"></div>
          <span>Trin 3</span>
        </div>
        <div class="step" id="step4">
          <div class="dot"></div>
          <span>Trin 4</span>
        </div>
      </div>

      <section id="section1">
        <div class="wrapper">
          <div class="container">
            <div class="figure">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <div class="text-box">
                <h4>Trin 1 - Information om din annonce</h4>
                <h2>Upload billeder af det du gerne vil sælge. Tilføj dine billeder her til højre.</h2>
                <h3>Tilføj op til 8 billeder.</h3>
              </div>
              <UploadImage />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="container">
            <div class="figure">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <div class="text-box">
                <h2>Giv os lidt informationer om annoncen, indtast kun rigtige informationer og vær præcis.</h2><br />
              </div>
              <form id="description-form" name="description" netlify>
                <label for="price"><input type="number" id="price" placeholder="Pris*" /></label>
                <label>
                  <select name="category">
                    <option>Kategori*</option>
                    <option>Lampe</option>
                    <option>Sofa</option>
                    <option>Pude</option>
                    <option>Spisebord</option>
                    <option>Stol</option>
                    <option>Vægdekoration</option>
                    <option>Sofabord</option>
                  </select>
                </label>
                <label>
                  <select name="condition">
                    <option>Stand*</option>
                    <option>Som ny</option>
                    <option>God stand</option>
                    <option>Brugt</option>
                    <option>Meget brugt</option>
                  </select>
                </label>
                <label for="text"></label><textarea name="text" id="text" placeholder="Supplerende tekst*"></textarea>
                <!-- Giv en grundig beskrivelse af produktet, inkluder f. eks. farve, mål, nypris..." rows="3" -->
              </form>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="container">
            <div class="figure">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <div class="text-box">
                <h2>Vælg metode for, hvordan din køber kan modtage varen.</h2>
                <h3>Du kan trygt købe fragt hos DBA via DAO, GLS eller Bring.</h3>
              </div>
              <div class="content-wrapper">
                <div class="content-container">
                  <p>Kan sendes</p>
                  <img src="/svg/box-black.svg" alt="boks" width="20" height="21" />
                </div>
                <div class="content-container">
                  <p>Fysisk udlevering</p>
                  <img id="multiple-profile-img" src="/svg/multiple-profile.svg" alt="flere profiler" width="30" height="26" />
                </div>
                <div class="content-container">
                  <p>Jeg kan begge dele</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="section2">
        <div class="wrapper">
          <div class="container">
            <div class="figure">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <div class="text-box">
                <h4>Trin 2 - Salgsmuligheder & abonnementer</h4>
                <h2>Forøg dine muligheder for salg ved at tilkøbe titel eller “Haster” skilt.</h2>
                <h3>Det er gratis at oprette en annonce på DBA, men du kan øge dine chancer for salg mod et gebyr.</h3>
              </div>
              <div class="content-wrapper">
                <div class="content-container">
                  <p>Nej tak</p>
                  <p>0 ,-</p>
                </div>
                <div class="content-container">
                  <p><strong>Fed overskrift</strong></p>
                  <p>39 ,-</p>
                </div>
                <div class="content-container">
                  <p>"Haster" skilt</p>
                  <p>15 ,-</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="container">
            <div class="figure">
              <div class="circle"></div>
              <div class="line" id="long"></div>
            </div>
            <div class="content">
              <div class="text-box">
                <h2>Køb et månedligt abonnement hos DBA og øg dine chancer for salg</h2>
                <h3>Det er gratis at oprette en annonce på DBA, men du kan blandt andet øge visningerne på dine annoncer med et abonnement.</h3>
              </div>
              <div class="content-wrapper" id="subscription-wrapper">
                <div class="content-container" id="subscription">
                  <div class="subscription-content">
                    <img src="/svg/basis-ad-smiley.svg" alt="basisannonce smiley" width="40" height="40" />
                    <h2><strong>Basisannonce</strong></h2>
                    <p>Bliver slettet efter 30 dage</p>
                  </div>
                  <h2>0,-</h2>
                </div>
                <div class="content-container" id="subscription">
                  <div class="subscription-content">
                    <img src="/svg/pig.svg" alt="sparegris" width="40" height="38" />
                    <h2><strong>Budget</strong></h2>
                    <p>3x så mange visninger</p>
                    <p>Fremhævet annonce</p>
                  </div>
                  <div>
                    <h2>15,-</h2>
                    <p>pr. mdr.</p>
                  </div>
                </div>
                <div class="content-container" id="subscription">
                  <div class="subscription-content">
                    <img src="/svg/celebration.svg" alt="fejring ikon" width="40" height="38" />
                    <h2><strong>Standard</strong></h2>
                    <p>4x så mange visninger</p>
                    <p>Fremhævet annonce</p>
                    <p>Topgalleri</p>
                  </div>
                  <div>
                    <h2>39,-</h2>
                    <p>pr. mdr.</p>
                  </div>
                </div>
                <div class="content-container" id="subscription">
                  <div class="subscription-content">
                    <img src="/svg/premium.svg" alt="dartboard ikon" width="40" height="38" />
                    <h2><strong>Premium</strong></h2>
                    <p>6x så mange visninger</p>
                    <p>Fremhævet annonce</p>
                    <p>Topgalleri</p>
                    <p>Topannonce</p>
                    <p>Galleri på forsiden</p>
                  </div>
                  <div>
                    <h2>99,-</h2>
                    <p>pr. mdr.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="section3">
        <div class="wrapper">
          <div class="container">
            <div class="figure">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <div class="text-box">
                <h4>Trin 3 - Kontaktoplysninger</h4>
                <h2>Hjælp sælger med at komme i kontakt med dig ved at indtaste dine kontaktinformationer.</h2>
              </div>
              <form id="description-form" name="description" netlify>
                <label for="email"><input type="text" id="email" placeholder="E-mail*" /></label>
                <label for="city"><input type="text" id="city" placeholder="Post nr. & by*" /></label>
                <label for="address"><input type="text" id="address" placeholder="Addresse" /></label>
                <label for="phonenumber"><input type="number" id="phonenumber" placeholder="Telefon nr." /></label>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section id="section4">
        <div class="wrapper">
          <div class="container">
            <div class="figure">
              <div class="circle"></div>
              <div class="line" id="medium"></div>
            </div>
            <div class="content">
              <div class="text-box">
                <h4>Trin 4 - Forhåndsvisning</h4>
                <h2>Forhåndsvisning af din annonce.</h2>
              </div>
              <AdPreview />
            </div>
          </div>
        </div>
        <div class="button">
          <Button url="/conformation" variant="tertiary" text="Indryk annonce på DBA" />
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  /* generel styling for siden */
  body {
    background-color: var(--light-blue-100);
  }

  main {
    max-width: 1300px;
  }

  /* dba logo's længde */
  img {
    width: 80px;
  }

  h2 {
    margin: 0 auto 10px;
  }

  h3 {
    font-weight: 200;
    color: var(--black-100);
  }

  h4 {
    color: var(--black-100);
    font-weight: 100;
    margin-bottom: 15px;
  }
  /* styling af scroll indicator øverst på siden */
  .scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-white);
    padding: 10px 0;
    z-index: 20;
  }

  .step {
    display: flex;
    align-items: center;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: var(--dark-grey-100) 0.5px solid;
    transition: 0.3s;
    margin-right: 10px;
  }

  .step.active .dot {
    background-color: var(--dark-grey-100);
  }

  .step span {
    color: var(--dark-grey-100);
    transition: 0.3s;
  }

  .step.active span {
    color: var(--dark-grey-100);
  }

  /* styling af sektionerne  */

  section {
    height: fit-content;
    padding: 10px;
    margin-bottom: 20px;
  }

  section > * {
    margin-bottom: 20px;
  }

  #section1 {
    margin-top: 80px;
  }

  .wrapper {
    padding: 10px;
  }

  .container {
    display: flex;
  }

  /* styling af figuren ude i venstre side */
  .figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circle {
    width: 10px;
    height: 10px;
    border: var(--dark-grey-100) 1px solid;
    border-radius: 50%;
  }

  .line {
    width: 0.6px;
    height: 420px;
    background-color: var(--dark-grey-100);
  }

  /* opsætning af inholdet i sektionen */
  .content {
    display: grid;
  }

  /* padding på boksen som indeholder vejledende tekst */
  .text-box {
    margin-left: 25px;
    max-width: 600px;
  }

  /* styling af form */
  #description-form {
    display: grid;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
  }

  /* styling af hhv. input, select og textarea tags */
  input,
  select {
    height: 60px;
    width: 330px;
    font-size: var(--p-mobile);
    color: var(--black-100);
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: Plus Jakarta Sans;
  }
  textarea {
    height: 110px;
    font-size: var(--p-mobile);
    color: var(--black-100);
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: Plus Jakarta Sans;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--black-100);
    padding-left: 5px;
    font-family: Plus Jakarta Sans;
  }

  /* styling af wrapper som indeholder shipping metoder og tilkøb */
  .content-wrapper {
    display: grid;
    justify-content: center;
    margin-left: 25px;
  }

  /* styling af shipping metoder og tilkøb kasser */
  .content-container {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--main-white);
    width: 330px;
    border-radius: 5px;
    justify-content: space-between;
    padding-inline: 24px;
    cursor: pointer;
  }

  .content-container.active {
    outline: 3px solid var(--dark-blue-100);
  }

  .content-container img {
    width: 20px;
  }

  #multiple-profile-img {
    width: 30px;
  }

  #subscription-wrapper {
    margin-top: 20px;
    gap: 10px;
  }

  /* styling af subscription kasse */
  #subscription {
    height: 300px;
    align-items: flex-start;
    padding-top: 30px;
    border-radius: 16px;
  }

  /* styling af indeholdet inde i subscription kassen */
  .subscription-content {
    display: grid;
    gap: 10px;
  }

  .subscription-content h2 {
    margin: 0;
  }

  /* billede størrelse i subscription kasser */
  .subscription-content img {
    width: 40px;
  }

  /* styling af specifikke linjer i figuren til venstre */
  #long {
    height: 1400px;
  }

  #medium {
    height: 700px;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 668px) {
    input,
    select,
    textarea {
      font-size: var(--p-big-desktop);
      width: 100%;
    }
    p {
      font-size: var(--p-big-desktop);
    }
    #description-form,
    .content-wrapper {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      grid-template-rows: repeat(2, 40px);
      gap: 40px;
      max-width: 680px;
      margin-inline: 25px;
    }

    #subscription-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: repeat(2, 300px);
      gap: 40px;
      margin-top: 20px;
    }

    textarea {
      grid-column: 1/3;
    }

    #long {
      height: 630px;
    }

    #medium {
      height: 630px;
    }
  }

  @media (min-width: 1024px) {
    .content {
      grid-template-columns: 1fr 2fr;
      gap: 40px;
      width: 100%;
      justify-items: start;
    }
    #subscription-wrapper {
      margin-top: 0;
    }
  }
</style>

<script>
  document.addEventListener("scroll", () => {
    const sections = document.querySelectorAll("section");
    const steps = document.querySelectorAll(".step");

    let currentSectionIndex = 0;

    sections.forEach((section, index) => {
      const sectionTop = section.offsetTop;
      const sectionHeight = section.clientHeight;

      if (pageYOffset >= sectionTop - sectionHeight / 3) {
        currentSectionIndex = index;
      }
    });

    steps.forEach((step, index) => {
      if (index === currentSectionIndex) {
        step.classList.add("active");
      } else {
        step.classList.remove("active");
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const containers = document.querySelectorAll(".content-container");

    containers.forEach((container) => {
      container.addEventListener("click", function () {
        // Toggle the 'active' class on the clicked container
        this.classList.toggle("active");
      });
    });
  });
</script>
