---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import CategorySlider from "../components/CategorySlider.astro";
import "../styles/style.css";
import ContactService from "../components/ContactService.astro";
import FiltreButton from "../components/FiltreButton.astro";

const data = await fetch("https://euedhdrakswqsquhtjkx.supabase.co/rest/v1/products?limit=8", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1ZWRoZHJha3N3cXNxdWh0amt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUyNTEyNDYsImV4cCI6MjAzMDgyNzI0Nn0.mXDwiwon4LDuspPMmUhUACpS8eCG3AZ7Ttf8Dd2wwu0",
  },
}).then((res) => res.json());
const moreData = await fetch("https://euedhdrakswqsquhtjkx.supabase.co/rest/v1/products?limit=4&offset=8", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1ZWRoZHJha3N3cXNxdWh0amt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUyNTEyNDYsImV4cCI6MjAzMDgyNzI0Nn0.mXDwiwon4LDuspPMmUhUACpS8eCG3AZ7Ttf8Dd2wwu0",
  },
}).then((res) => res.json());
---

<MainLayout title="Forside">
  <CategorySlider />
  <div class="flex">
    <h2>Forsideannoncer</h2>
    <FiltreButton />
  </div>
  <section class="cards">
    {
      data.map((card) => {
        return <Card class="ad" data={card} />;
      })
    }
  </section>

  <h2>Annoncer til dig</h2>
  <section class="cards">
    {
      moreData.map((card) => {
        return <Card class="ad" data={card} />;
      })
    }
  </section>
</MainLayout>
<ContactService />

<style>
  .flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const likeContainers = document.querySelectorAll(".like");

    console.log(likeContainers);

    //likeProduct.addEventListener("click", like);
    likeContainers.forEach((lc) => {
      lc.addEventListener("click", like);
    });

    function like() {
      console.log(this);
      this.classList.toggle("liked");
    }
  });
</script>
