---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Gallery from "../components/Gallery.astro";

const data = await fetch("https://euedhdrakswqsquhtjkx.supabase.co/rest/v1/products?limit=8", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1ZWRoZHJha3N3cXNxdWh0amt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUyNTEyNDYsImV4cCI6MjAzMDgyNzI0Nn0.mXDwiwon4LDuspPMmUhUACpS8eCG3AZ7Ttf8Dd2wwu0",
  },
}).then((res) => res.json());
const moreData = await fetch("https://euedhdrakswqsquhtjkx.supabase.co/rest/v1/products?limit=4&offset=4", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1ZWRoZHJha3N3cXNxdWh0amt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUyNTEyNDYsImV4cCI6MjAzMDgyNzI0Nn0.mXDwiwon4LDuspPMmUhUACpS8eCG3AZ7Ttf8Dd2wwu0",
  },
}).then((res) => res.json());
---

<MainLayout titel="Forside">
  <h1>Forsideannoncer</h1>
  <section class="cards">
    {
      data.map((card) => {
        return <Card class="ad" data={card} />;
      })
    }
  </section>
  <h1>Annoncer som kunne være noget for dig</h1>
  <section class="cards">
    {
      moreData.map((card) => {
        return <Card class="ad" data={card} />;
      })
    }
  </section>
  <Gallery />
</MainLayout>

<style>
  /* opstilling af annoncer i grid */
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
    justify-items: center;
    gap: 2rem;
    margin-inline: 0.5rem;
    max-width: 980px;
    margin-bottom: 5rem;
  }
</style>
