---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import CategorySlider from "../components/CategorySlider.astro";
import ContactService from "../components/ContactService.astro";
import BreadCrumbPath from "../components/BreadCrumbPath.astro";
import Button from "../components/Button.astro";
import FiltreButton from "../components/FiltreButton.astro";

const data = await fetch("https://euedhdrakswqsquhtjkx.supabase.co/rest/v1/products", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1ZWRoZHJha3N3cXNxdWh0amt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUyNTEyNDYsImV4cCI6MjAzMDgyNzI0Nn0.mXDwiwon4LDuspPMmUhUACpS8eCG3AZ7Ttf8Dd2wwu0",
  },
}).then((res) => res.json());
---

<MainLayout titel="Productlistview">
  <CategorySlider />
  <div class="breadcrumb-container">
    <BreadCrumbPath url="/" page="Forside" />
    <p>Til boligen</p>
  </div>

  <div class="flex">
    <h1>Til boligen</h1>
    <FiltreButton />
  </div>

  <section class="cards">
    {
      data.map((card) => {
        return <Card data={card} />;
      })
    }
  </section>
  <div class="button">
    <Button variant="secondary" text="Se flere annoncer" size="medium" />
  </div>
</MainLayout>
<ContactService />

<style>
  .breadcrumb-container {
    display: flex;
    align-items: baseline;
  }

  .breadcrumb-container p {
    color: var(--dark-grey-100);
    margin-left: 10px;
  }
  .button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
  }

  /* opstilling af annoncer i grid */
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
    justify-items: center;
    gap: 2rem;
    margin-inline: 0.5rem;
    max-width: 980px;
    margin-bottom: 4rem;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const likeContainers = document.querySelectorAll(".like");

    console.log(likeContainers);

    likeContainers.forEach((lc) => {
      lc.addEventListener("click", like);
    });

    function like() {
      console.log(this);
      this.classList.toggle("liked");
    }
  });
</script>
