---
import "../styles/style.css";
---

<div class="product-singleview-wrapper">
  <div class="product-singleview">
    <div class="shipping hide"><img src="../svg/box.svg" alt="shipping box" /><p>Kan sendes</p></div>
    <div class="like"><img src="../svg/heart.svg" alt="heart" /></div>
    <div class="image-number"><p>1/8</p></div>
    <div class="singleview-gallery">
      <div>
        <img class="product-image" src="./imgs/vifte_1.webp" alt="vifte" />
      </div>
    </div>
  </div>
  <div class="image-text">
    <h2><strong>Din overskrift her</strong></h2>
    <div>
      <p>Din beskrivelse af mål, størrelse, farve og en masse andet kommer til at stå her.</p>
      <p>Stand: kommer til at stå her</p>
    </div>
    <h2>000 kr</h2>
  </div>
</div>

<style>
  .product-singleview-wrapper {
    display: grid;
    margin-left: 25px;
    justify-items: center;
  }
  .product-singleview {
    position: relative;
  }

  .singleview-gallery {
    display: flex;
  }

  .singleview-gallery div {
    width: 100%;
    display: flex;
  }

  .image-number {
    background-color: var(--main-white);
    position: absolute;
    opacity: 65%;
    color: var(--dark-blue-100);
    bottom: 5%;
    right: 4%;
    padding: 10px;
    border-radius: 50%;
  }
  /* styling af like knappen oppe i højre hjørne */
  .like {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4%;
    top: 2%;
  }

  /* shipping billedet skal være lidt mindre */
  .shipping img {
    width: 30px;
    height: 30px;
  }

  /* styling af shipping ikonet oppe i venstre hjørne */
  .shipping {
    position: absolute;
    width: 160px;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: var(--main-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 2%;
    left: 2.5%;
    opacity: 65%;
    color: var(--dark-blue-100);
  }

  /* styling af produkt billedet */
  .product-image {
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 330px;
  }

  .image-text > * {
    padding-bottom: 20px;
    width: 334px;
  }

  .image-text {
    margin-bottom: 70px;
  }
</style>
