---
const { url, text, variant, size } = Astro.props;
---

<a href={url}>
  <button class={variant + " " + size}>
    <p>{text}</p>
  </button>
</a>

<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    transition:
      background-color 0.2s,
      color 0.2s;
    font-size: var(--p-mobile);
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .primary {
    background-color: var(--dark-blue-100);
    color: var(--main-white);
  }

  .primary:hover {
    background-color: var(--light-blue-100);
    color: var(--dark-blue-100);
  }

  .secondary {
    background-color: transparent;
    border: solid 1px var(--dark-blue-100);
    color: var(--dark-blue-100);
  }

  .secondary:hover {
    background-color: var(--dark-blue-100);
    color: var(--main-white);
  }

  .tertiary {
    background-color: var(--dark-blue-100);
    color: var(--main-white);
    border: solid 1px var(--dark-blue-100);
  }

  .tertiary:hover {
    background-color: transparent;
    border: solid 1px var(--dark-blue-100);
    color: var(--dark-blue-100);
  }

  .small {
    width: 140px;
  }

  .medium {
    width: 350px;
  }

  @media (min-width: 868px) {
    button {
      font-size: var(--p-desktop);
    }
  }
</style>
