---
const { variant, size, url } = Astro.props;
---

<a href={url}>
  <button class={variant + " " + size}>
    <slot />
  </button>
</a>

<style>
  a {
    text-decoration: none;
  }
  button {
    height: 40px;
    cursor: pointer;
  }

  /* styling af primær knap (CTA) */
  .primary {
    background-color: var(--dark-blue-100);
    color: var(--primary-btn-text-color);
    display: flex;
    border-radius: 20px;
    appearance: none;
    justify-content: center;
    border: none;
    padding: 10px 12px;
    width: 160px;
    align-items: center;
    transition: 0.2s;
    font-size: 1rem;
  }

  /* styling af sekundær knap */
  .secondary {
    border: 1px solid var(--dark-blue-100);
    background-color: transparent;
    border-radius: 25px;
    appearance: none;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue-100);
    font-size: 1rem;
  }

  /* styling af tertiære knap  */
  .tertiary {
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue-100);
    background-color: transparent;
    border: none;
    font-size: 1rem;
  }

  /* styling størrelse af knap til mobil  */
  .small {
    font-size: 1rem;
  }

  /* styling størrelse af knap til desktop  */
  .large {
    font-size: 1rem;
    width: 250px;
  }

  .xl {
    width: 400px;
  }
</style>
