---
import "../styles/style.css";
const { img, title } = Astro.props;
---

<a href="/productlistview">
  <div>
    <img src={img} alt="#" width="20" height="15" />
    <p>{title}</p>
  </div>
</a>

<style>
  a {
    text-decoration: none;
    color: var(--dark-blue-100);
    cursor: pointer;
  }
  div {
    display: flex;
    padding: 8px 12px;
    border: solid 1px var(--dark-blue-100);
    border-radius: 20px;
    width: fit-content;
  }

  img {
    width: 20px;
    padding-right: 4px;
  }

  p {
    white-space: nowrap;
  }
</style>
