---
import "../styles/style.css";
---

<footer>
  <div class="footer-container">
    <div class="grid-container">
      <div class="content">
        <h3>Lær os at kende</h3>
        <a href="https://support.dba.dk/">Kontakt Kundeservice</a>
        <a href="https://info.dba.dk/kontakt">Kontakt DBA</a>
        <a href="https://guide.dba.dk/">DBA Guide</a>
        <a href="https://schibsted.com/career/?job_location=Aarhus">Ledige stillinger</a>
        <a href="https://dba.presscloud.com/nr/#/frontpage">Presse</a>
      </div>
      <div class="content">
        <h3>Sikkerhed og vilkår</h3>
        <a href="https://support.dba.dk/">Sikker handel på DBA</a>
        <a href="https://info.dba.dk/vilkaar/v7/brugervilkaar">Brugervilkår</a>
        <a href="https://info.dba.dk/vilkaar/annonceringsregler">Regler for annoncering</a>
        <a href="https://info.privacy.schibsted.com/dk/persondata-og-cookiepolitik/">Persondatapolitik</a>
        <a href="/#">Cookieindstillinger</a>
      </div>
      <div class="content">
        <h3>Erhverv</h3>
        <a href="https://boost.dba.dk/">DBA Boost</a>
        <a href="https://schibstedmedia.dk/">Bannerannoncering</a>
      </div>
      <!-- <div class="content">
        <h3>Andre links</h3>
        <a href="https://www.bilbasen.dk/">Brugte biler fra Bilbasen</a>
      </div> -->
    </div>
    <div class="flex-container">
      <img src="../svg/dba-logo.svg" alt="dba logo" />
      <div class="some_container">
        <a href="https://www.facebook.com/profile.php?id=100064680731751" target="_blank"> <img src="../svg/facebook.svg" alt="facebook ikon" /></a>
        <a href="https://www.instagram.com/dbadk/" target="_blank">
          <img src="../svg/instagram.svg" alt="instagram ikon" />
        </a>
        <a href="https://www.linkedin.com/company/dbadk/" target="_blank">
          <img src="../svg/linkedin.svg" alt="linkedin ikon" />
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer-container {
    display: grid;
    gap: 50px;
    background-color: var(--light-grey-100);
    padding-bottom: 7rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-left: 1rem;
    padding-top: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin-bottom: 0.5rem;
  }
  .content a {
    text-decoration: none;
    color: var(--dark-grey-100);
    line-height: 1.3rem;
  }

  .content a:hover {
    text-decoration: underline;
    transition-duration: 0.2ms;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    margin-top: 2rem;
  }

  .flex-container img {
    padding-bottom: 2rem;
    max-width: 90px;
  }

  .some_container {
    display: grid;
    grid-template-columns: repeat(3, 40px);
  }

  .some_container img {
    max-width: 30px;
    padding-bottom: 2rem;
  }

  @media (min-width: 500px) {
    .flex-container {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    .footer-container {
      max-width: 930px;
      margin-inline: auto;
      padding: 2rem 5rem;
    }
  }
</style>
