---
import GalleryCard from "../components/GalleryCard.astro";
---

<section>
  <h1 class="dba-guide-headline">Find inspiration fra DBA Guide</h1>
  <div class="gallery-wrap">
    <img src="/svg/back.svg" id="backBtn" alt="tilbage pil" width="45" height="44" />
    <div class="gallery">
      <div>
        <GalleryCard class="gallery_img" url="https://guide.dba.dk/livsstil/5-grunde-til-at-handle-brugte-sneakers" background="/imgs/sneakers_guide.webp" title="Brugte sneakers" description="Sneakers, gummisko, kondisko. Kært barn har mange navne. Det populære fodtøj..." />
        <GalleryCard class="gallery_img" url="https://guide.dba.dk/motor/disse-biler-er-nemme-at-saelge" background="/imgs/car_guide.webp" title="Sælg din bil" description="Når du skal investere i en brugt bil, skal du gøre op med dig selv, hvilke behov du har..." />
        <GalleryCard class="gallery_img" url="https://guide.dba.dk/video/dbas-dyreste-taske" background="/imgs/bag_guide.webp" title="DBA's dyreste taske" description="58.000 kroner. Så meget koster den dyreste taske på DBA. I videoen kan du..." />
        <GalleryCard class="gallery_img" url="https://guide.dba.dk/diy/sille-syr-skjorter-af-gamle-duge" background="/imgs/shirt_guide.webp" title="Tøj af gamle duge" description="Det gælder om at bruge sine rester. Sådan lød opfordringen fra Lærke Bagger og..." />
        <GalleryCard class="gallery_img" url="https://guide.dba.dk/bolig/vaegdekorationer" background="/imgs/wall-deco_guide.webp" title="Vægdekorationer" description="Vægdekorationer er højeste mode, men det er dog ikke hot at hænge dem på én lang..." />
      </div>
    </div>
    <img src="/svg/forward.svg" id="nextBtn" alt="næste pil" width="45" height="44" />
  </div>
</section>

<style>
  .gallery {
    display: flex;
    overflow-x: scroll;
    margin-inline: 0.5rem;
  }

  .gallery div {
    width: 100%;
    display: flex;
    grid-gap: 10px;
  }

  #backBtn,
  #nextBtn {
    display: none;
  }

  @media (min-width: 868px) {
    .dba-guide-headline {
      font-size: 2.25rem;
    }
    .gallery {
      width: 980px;
    }

    .gallery div {
      margin-right: 135px;
    }

    .gallery div .gallery_img {
      width: 100%;
    }

    .gallery::-webkit-scrollbar {
      display: none;
    }

    .gallery-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    #backBtn,
    #nextBtn {
      display: block;
      width: 45px;
      cursor: pointer;
      position: absolute;
      background-color: var(--main-white);
      padding: 13px 10px;
      border-radius: 50%;
    }

    #backBtn {
      left: 2%;
    }

    #nextBtn {
      right: 2%;
    }
  }
</style>

<script>
  let scrollContainer = document.querySelector(".gallery");
  let backBtn = document.getElementById("backBtn");
  let nextBtn = document.getElementById("nextBtn");

  nextBtn.addEventListener("click", () => {
    scrollContainer.style.scrollBehavior = "smooth";
    scrollContainer.scrollLeft += 320;
  });

  backBtn.addEventListener("click", () => {
    scrollContainer.style.scrollBehavior = "smooth";
    scrollContainer.scrollLeft -= 320;
  });
</script>
