---

---

<div class="text-wrapper">
  <p>Køb fragt på DBA - vi understøtter GLS, DAO og Bring</p>
  <p>Køb fragt på DBA - vi understøtter GLS, DAO og Bring</p>
  <p>Køb fragt på DBA - vi understøtter GLS, DAO og Bring</p>
  <p>Køb fragt på DBA - vi understøtter GLS, DAO og Bring</p>
</div>

<style>
  .text-wrapper {
    display: flex;
    justify-content: flex-start;
    background: var(--light-grey-100);
    overflow: hidden;
  }

  p {
    font-size: 0.7rem;
    color: var(--dark-grey-100);
    white-space: nowrap;
    padding: 0.3rem 6rem;
    animation: move-rtl 12s linear infinite;
  }

  @keyframes move-rtl {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
</style>
