---
const { url, background, hover, text } = Astro.props;
---

<a href={url}>
  <div class="button-container">
    <div class="container"></div>
    <p>{text}</p>
  </div>
</a>

<style define:vars={{ background: `url("${background}")`, hover: `url("${hover}")` }}>
  .button-container {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    transition:
      background-color 0.2s,
      color 0.2s;
    background-color: transparent;
    font-size: var(--p-mobile);
    white-space: nowrap;
  }

  p {
    color: var(--dark-blue-100);
  }

  .container {
    width: 16.5px;
    height: 17.5px;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 7px;
    transition: background-image 0.2s;
  }

  .button-container:hover .container {
    background-image: var(--hover);
  }

  @media (min-width: 868px) {
    .button-container {
      font-size: var(--p-desktop);
    }
  }
</style>
