---
import "../styles/style.css";
import Footer from "../components/Footer.astro";
import NavigationProfile from "../components/NavigationProfile.astro";
import Gallery from "../components/Gallery.astro";
import BurgerAd from "../components/BurgerAd.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Danmarks største annoncemarked med køb, salg og bytte for private og virksomheder." />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <NavigationProfile />
      <slot />
      <Gallery />
      <BurgerAd />
    </main>
    <Footer />
  </body>
</html>
